.contact-us {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 40px 0;
    padding-left: 100px; 
    top: 50px;
    margin-left: 27%;
    margin-bottom: 50px;
  }
  .item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    position: relative;
  }
  
  .item::before {
    content: '';
    width: 20px;
    height: 20px;
    background: #28a745; 
    border-radius: 50%;
    position: absolute;
    left: 28px;
    top: 10%;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .item .icon {
    background: #e0f7e9; 
    border-radius: 50%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    position: relative;
    z-index: 2;
  }
  
  .item .icon svg {
    width: 24px;
    height: 24px;
    stroke: #28a745; 
  }
  
  .text {
    max-width: 600px;
  }
  
  .text h3 {
    margin-bottom: 10px;
    font-size: 1.25rem;
    color: #333;
  }
  
  .text p {
    margin: 0;
    font-size: 1rem;
    color: #666;
  }
  